/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap'); */

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Nanum Pen Script';
    src: url('../fonts/NanumPenScript-Regular.ttf');
}

html {
    background-color: #212938;
    color: #F9F9F9;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

@media only screen and (max-width: 650px) {
    html {
        margin-left: 1.5%;
        margin-right: 1.5%;
        font-size: 0.8em;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

.navigation {
    display: grid;
    grid-template-columns: minmax(20px, auto) minmax(100px, 1200px) minmax(20px, auto);
}

.navigation > .image {
    align-self: center;
}

nav > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    gap: 0.8em;
    font-size: 2em;
}

nav > ul > a {
    display: inline-block;
}

li:hover, .socials > a:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.08);
}



nav {
    width: 100%;
}

h2 {
    font-size: 2em;
}

h1 {
    font-size: 2.5em;
}

header > p {
    font-size: 1.5em;
}

h4 {
    font-family: 'Nanum Pen Script', cursive;
    color: #35425C;
}

/* Decoration for background only */
.i1 {
    padding-left: 1.15rem;
}

.i2 {
    padding-left: 2.15rem;
}

.i3 {
    padding-left: 3.15rem;
}

.gridContainer {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* max-width: 1200px; */
}

.projectGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.projectInfo {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 2em;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: 75% 25%;;
}

img {
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #35425C;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    flex: 1 1 0;
}
.card:hover {
    transition: 0.4s ease-in-out;
    transform: scale(1.04);
}

.description {
    display: inline-block;
    max-width: 400px;
}

.title {
    position: relative;
    margin-bottom: 0;
}

.content {
    margin: 1em;
}

footer {
    margin-top: 5%;
    bottom: 0;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
}

.socials, footer > p {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0.75em;
    font-size: 1.25em;
}

.socials {
    font-size: 2em;
}

.copyright {
    font-size: 0.9em;
}